<main>
  <section class="">
    <form>
      <h1>ENTRENO DE HOY:</h1>
      <div>
        <span><img src="/img/muscles/antebrazo.png" alt="">
          <h1>Antebrazo</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/bicep.png" alt="">
          <h1>Bicep</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/tricep.png" alt="">
          <h1>Tricep</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/hombro.png" alt="">
          <h1>Hombro</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/pecho.png" alt="">
          <h1>Pecho</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/trapecio.png" alt="">
          <h1>Trapecio</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/espalda.png" alt="">
          <h1>Espalda</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/core.png" alt="">
          <h1>Core</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/gluteo.png" alt="">
          <h1>Gluteo</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/quadricep.png" alt="">
          <h1>Quadricep</h1><input type="Number" placeholder="0" min="0">
        </span>
        <span><img src="/img/muscles/pantorrillas.png" alt="">
          <h1>Pantorrillas</h1><input type="Number" placeholder="0" min="0">
        </span>
      </div>
      <button type="submit">siguiente</button>
    </form>
  </section>
  <section>
    <form action="">
      <h1>SENSACIONES DE HOY:</h1>
      <div>
        <h1>Cansancio:</h1>
        <div>
          <span>
            <p>Muy cansado</p>
            <img src="/img/states/muycansado.png" alt="">
          </span>
          <span>
            <p>Cansado</p>
            <img src="/img/states/cansado.png" alt="">
          </span>
          <span>
            <p>Normal</p>
            <img src="/img/states/normal.png" alt="">
          </span>
          <span>
            <p>Bien</p>
            <img src="/img/states/bien.png" alt="">
          </span>
          <span>
            <p>Muy bien</p>
            <img src="/img/states/muybien.png" alt="">
          </span>
        </div>
      </div>
      <div>
        <h1>Motivación:</h1>
        <div>
          <span>
            <p>Muy desmotivado</p>
            <img src="/img/states/muycansado.png" alt="">
          </span>
          <span>
            <p>Desmotivado</p>
            <img src="/img/states/cansado.png" alt="">
          </span>
          <span>
            <p>Normal</p>
            <img src="/img/states/normal.png" alt="">
          </span>
          <span>
            <p>Motivado</p>
            <img src="/img/states/bien.png" alt="">
          </span>
          <span>
            <p>Muy motivado</p>
            <img src="/img/states/muybien.png" alt="">
          </span>
        </div>
      </div>
      <div>
        <h1>Satisfación:</h1>
        <div>
          <span>
            <p>Muy insatisfecho</p>
            <img src="/img/states/muycansado.png" alt="">
          </span>
          <span>
            <p>Insatisfecho</p>
            <img src="/img/states/cansado.png" alt="">
          </span>
          <span>
            <p>Normal</p>
            <img src="/img/states/normal.png" alt="">
          </span>
          <span>
            <p>Satisfecho</p>
            <img src="/img/states/bien.png" alt="">
          </span>
          <span>
            <p>Muy Satisfecho</p>
            <img src="/img/states/muybien.png" alt="">
          </span>
        </div>
      </div>
      <div class="buttons">
        <button id="goback">volver</button>
        <button type="submit">siguiente</button>
      </div>
    </form>
  </section>
</main>
<script src="/js/workout.create.js"></script>