<img src="/img/img.jpg" alt="">

<main>
  <section class="img">
    <img src="/img/gorilla.png" alt="">
  </section>
  <form id="form">
    <h1>LOGIN</h1>
    <div class="text-field" id="username">
      <input type="text" required autocomplete="off" autofocus value="thecots">
      <label class="label">Nombre de usuario</label>
    </div>
    <span id="sessionErrorUsername"></span>
    <div class="text-field" id="password">
      <input type="password" required autocomplete="off" name="password" value="root.">
      <label class="label">Contraseña</label>
    </div>
    <span id="sessionError" class="spanError"></span>
    <div class="btn-box">
      <button type="submit">Iniciar sessión</button>
    </div>
</main>
<script src="/js/signin.js"></script>